---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Get to know more about me and my journey"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.webp"
>
	<p>
		Welcome to my personal space on the web! Here you can learn more about
		my background, my interests, and the path I've taken to get where I am
		today. From my early fascination with technology to my current projects
		and aspirations, this page offers a glimpse into what drives me both
		professionally and personally.
	</p>
</Layout>
