---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Links"
	description="Explore the resources and networks I'm part of"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-links.webp"
>
	<p>
		This curated list of links includes the tools, articles, and communities
		that have proven invaluable to my growth and success. Whether you're
		looking for insights into the tech industry, innovative ideas, or simply
		to connect, these resources are a great starting point.
	</p>
	<!-- Additional details about the links and resources -->
</Layout>
